<form class="form-horizontal">
  <div class="center-block">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <input type="text" class="form-control" placeholder="Text input">
    </div>
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Description</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn">Save</button>
      </div>
    </div>
  </div>
</form>
