<%= link_to 'Back', root_path, class: "btn btn-default"  %>

<table class="table" style="width:30%; margin-top: 25px;">
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= best_in_place @note, :title %></td>
    <td><%=best_in_place @note, :description, type: :textarea %></td>
  </tr>
</table>

