<div class="btn btn-default">
    <%= link_to 'Back', root_path %>
</div>
<table class="table" style="width:30%; margin-top: 25px;">
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= best_in_place @note, :title %></td>
    <td><%=best_in_place @note, :description, type: :textarea %></td>
  </tr>
</table>

