<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Share To</h4>
      </div>
      <div class="modal-body">
        <%= form_for :note, :url => note_path(note.id) ,:html => {:method => "patch" }  do |f| %>
          <%#= f.hidden_field :note_id %>
          <div class="form-group">
            Share To :<%= f.select :share_with, User.all.map { |u| [u.email, u.id] },
               { include_blank: true },
               { class: 'chosen-select' }%>
          </div>       
          <%= f.submit "Share" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
