<div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      Are you sure?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      <div type="button" class="btn btn-primary" data-dismiss="modal">
        <%= link_to "Yes" ,note_path(note), :method=>:delete ,class:"btn-primary"%>
      </div>
    </div>
  </div>
</div>