<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Share To</h4>
      </div>
      <div class="modal-body">
        <%= form_for :share, :url => note_share_note_path do |f| %>
          <div class="form-group">
            Share To : <%= f.text_field :share_to%>  
          </div>       
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.submit "Share" %>
        <%end %>
      </div>
    </div>
  </div>
</div>