/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require chosen
 *
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

body 
{
  background-color:#E3BCBC;
  font-size: 17px;
}

#form#new_user
{
  
}

.center-block {
  display: block;
  margin-left: 370px;
  margin-right: 370px;
}

.form-control
{
  padding: 9px -14px 5px 15px;
  margin: 31px 30px 24px 0px;
  font-size: 20px;

}

.form-horizontal .control-label
{
  text-align: left;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 18px;
}

.form-horizontal .btn
{
  float: right;
  margin: 0px -15px;
}


