<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %></p>
  <div class="btn btn-default">
    <%= link_to 'Click to logout', destroy_user_session_path, :method => :delete %>
  </div>
<% end %>